.btn {
    border-radius: 4px;
    color: #e8e8e8;
    display: inline-block;
    /* font-size: 0.75rem; */
    padding: 3px 6px 3px 6px;
    text-align: center;
    text-decoration: none;
}
.btn:hover {
    color: #e8e8e8;
}

.btn.btn-email {
    background-color: #a8278e;
}
.btn.btn-email:hover {
    background-color: #741c4b;
}

.btn.btn-github {
    background-color: #a16f12;
}
.btn.btn-github:hover {
    background-color: #69490c;
}

.btn.btn-rss {
    background-color: #0c521b;
}
.btn.btn-rss:hover {
    background-color: #05290d;
}