code {
    margin: 0 0;
    padding: 4px 4px;
    font-family: monospace;
}

/* The title of the blog links to the top level page but doesn't look like a link. */
#title h1 a {
    text-decoration: none;
    color: inherit;
}