code {
    margin: 0 0;
    padding: 4px 4px;
    font-family: monospace;
}

#title {
    /* The theme defaults to 50x but it's a lot - especially with my email etc buttons on the right
       side which are a bit taller than just text. */
    margin: 0 0 30px 0;
}

/* The title of the blog links to the top level page but doesn't look like a link. */
#title h1 a {
    text-decoration: none;
    color: inherit;
}