div.webmentions {
    margin-top: 20px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

div.webmentions .webmentions-header {
    font-size: 130%;
    margin: 0 0 0.5em 0;
    width: 80%;
}

.webmentions-container {
}

div.webmentions ul {
    flex-direction: column;
    padding-left: 0;
    width: 80%;
}

div.webmentions li {
    list-style: none;
    margin-top: 0.2em;
    border: 1px solid #3d3d3d;
    padding: 0.2em;
}

div.webmentions li .head {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.webmentions li .avatar {
    width: 1.7em;
}

