<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
  </head>
  <body>
      <div id="header">
        <nav>
          <ul>
            <!--
            <li class="fork"><a href="{{ site.github.repository_url }}">View On GitHub</a></li>
            {% if site.show_downloads %}
              <li class="downloads"><a href="{{ site.github.zip_url }}">ZIP</a></li>
              <li class="downloads"><a href="{{ site.github.tar_url }}">TAR</a></li>
              <li class="title">DOWNLOADS</li>
            {% endif %}
            -->
          </ul>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1><a href="/">{{ site.title | default: site.github.repository_name }}</a></h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
          <span class="credits left">A blog by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">
            <a class="btn btn-email" href="mailto:danakj@chromium.org" target="_blank">Email</a>
            <a class="btn btn-github" href="{{ site.github.owner_url }}" target="_blank">GitHub</a>
            <a class="btn btn-fedi" href="http://sunny.garden/@blinkygal" target="_blank">Mastodon</a>
            <a class="btn btn-rss" href="/feed.xml" target="_blank">RSS</a>

            <!-- Reach me at: <a href="mailto:danakj@chromium.org">danakj@chromium.org</a> -->
          </span>
        </div>

        {{ content }}

      </section>

    </div>
  </body>
</html>