---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {% assign author = page.author | default: site.author %}
      {%- if author -%}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
          itemprop="name">{{ author }}</span></span>
      {%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <!-- No thanks?
  <div class="share-links">
    {-% include sharelinks.html %-}
  </div>
  -->

  <div class="navlinks">
    {% include navlinks.html %}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<!-- Allow collection of webmentions about the post. -->
<link rel="webmention" href="https://webmention.io/orodu.net/webmention" />

<div class="webmentions">
  <hr>
  <div class="webmentions-header">Interactions:</div>
  <!-- The webmentions query must be to the http:// url in order to get a response. -->
  <div class="webmentions-container" data-webmentions="http://orodu.net{{ page.url | relative_url }}"></div>
  <template id="webmention-template">
    <li>
      <div class="head">
        <img class="avatar webmention-author-avatar"></img>
        <span class="text">
          <a class="webmention-author"><span class="webmention-author-name"></span></a>
          <span class="sep">::</span>
          <span class="action"><a class="webmention-action"></a></span>
        </span>
      </div>
      <div class="content"><span class="webmention-content"></span></div>
    </li>
  </template>
  <script src="/assets/webmentions.js"></script>
</div>
